.wrapper  {
  display: grid;
  grid-row-gap: .5em;
}

.row {
  display: flex;
  gap: .25em;
  align-items: baseline;

  font-size: 56px;
  font-weight: var(--font-weight-bolder);
  font-style: italic;
  line-height: 1;
}

.number {
  color: var(--color-primary);
}

.label {
  color: var(--color-neutral-darkest);
}

@media (min-width: 1440px) {
  .row {
    font-size: 6.5rem;
  } 
}